/*--
    font-family: 'Asap', sans-serif;
--*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
button{cursor: pointer;}
h2{font-family: sans-serif;}
body{
    background-color: #343838;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
hr{width:40%; height: 2px; margin: 30px auto; border: none; background-color: white;}
.cabecalho{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #00b4cc;
    position: fixed;
    top: 0px;
    z-index: 3;
}
.cabecalho h1 a{
    color: white;
    text-decoration: none;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px auto 10px auto;
    width: 90%;
}
#section1{
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section1 figure{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 364px;
    height: 485px;
}
#section1 figure img{
    width: 100%;
    height: 100%;
    border-radius: 10% 0px 0px 10%;
    transition: 0.3s;
    opacity: 0.9;
}
#section1 figure figcaption{
    color: white;
    width: 100%;
    position: absolute;
    font-size: 17pt;
    height: 100%;
    background-color: #000000d8;
    border-radius: 10% 0px 0px 10%;
    text-align: center;
    opacity: 0;
    transition: 0.3s ease;
    font-family: 'Asap', sans-serif;
    padding: 20px 0px 0px 5px;
}
#section1 aside{
    width: 70px;
    height: 485px;
    background-color: #008c9e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s ease;
}
#section1 aside a svg{
    width: 48px;
    height: 48px;
    color: #000000;
}
#section1 aside:hover{
    background-color: #00dffc;
}

#section1 figure:hover figcaption{
    opacity: 1;

}
#section1 figure:hover img{
    opacity: 1;
}

#section2{
    height: 485px;
}

#section01{
    width: 90%;
    background-color: #131313;
    height: 60%;
    transition: 0.3s ease;
}
#section01 ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#section01 h2{color: #00dffc; margin-bottom: 20px; text-align: center;}
#section01 ul li{
    width: 170px;
    height: 150px;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    transition: 0.3s ease;
}
#section01 ul li svg{
    width: 80px;
    height: 80px;
    color: #00dffc;;
}
#section01 ul li span, strong{
    position: absolute;
    font-weight: 600;
    color: white;
    transform: translateY(90px);
    border-radius: 0px 0px 20px 20px;
    font-family:Helvetica;
    padding: 1px;
    transition: 0.3s ease;
}
#section01 ul li:hover{
    background-color: #00dffc;
}
#section01 ul li:hover svg{
    color: black;
}
#section01 ul li:hover span{
    color: black;
    background-color: white;
}
#section01 ul li:hover strong{
    color: black;
    background-color: white;
}

#section02{
    width: 90%;
    background-color: #131313;
    height:40%;
    transition: 0.3s ease;
}
#section02 h2{
    text-align: center;
    color: #00dffc;
    margin-bottom: 60px;
}
#section02 ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#section02:hover, #section01:hover{
    transform: scale(1.03);
}
#section02 ul li{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    justify-content: center;
    transition: 0.3s ease;
}
#section02 ul li a{
    text-decoration: none;
    color: white;
    font-size: 16pt;
    font-family: Helvetica;
    height: 100%;
    width: 100%;
    font-weight: 600;
    transition: 0.3s ease;
}
#section02 ul li:hover a{
    background-color: #00dffc;
    color: black;
}


.interation{
    margin: 30px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 700px;
    background-color: #000000d8;
}
.interation header{width: 100%;}
.interation header h2{text-align: center; font-family: sans-serif; color: white;}
.interation section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.interation .interations{
    height: 350px;
    width: 550px;
    margin-top: 50px;
}
.interations .cores{
    box-shadow: 0px 0px 10px white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
}
.cores{width: 400px;}
.uniaoCores{
    width: 100%;
    height: 150px;
    background-color: white;
    margin-top: 15px;
}
.medidores .medidor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px auto;
}
.medidores input{
    width: 220px;
}
.medidores label{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 16pt;
}
.medidor .corAtual{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    font-weight: bold;
    color: white;
}
.relogio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 0px 10px white);
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.btns button{
    background-color: #000000;
    border: none;
    width: 50%;
    padding: 5px;
}
#btn1{border-radius: 25px 0px 0px 25px;}
#btn2{border-radius: 0px 25px 25px 0px;}

.btns svg{
    color: #00dffc;
    width: 50px;
    height: 50px;
    background-color: #000000;
}
.contador{
    width: 280px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100%;
    margin-bottom: 5px;
    color: white;
    position: relative;
    background-color: #000000;
}
.contador span.maior{
    font-size: 80pt;
}
.contador span.decimal{
    font-size: 30pt;
    font-family: 'Asap', sans-serif;
    transform: translateY(25px); 
}
.contador button{
    position: absolute;
    top: 75%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #000000;
    border: none;
}
.contador button svg{
    color:#00dffc;
    width: 100%;
    height: 100%;
}
.rodape{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #008c9e;
    
}
.rodape p a{
    text-decoration: none;
    font-weight: 600;
}